<div class="navbar">
  <!-- Navigation -->
  <nav class="nav">
    <!-- Logo -->
    <a class="logo" href="/">jpstudio</a>

    <ul class="nav-list">
      <li class="nav-item">
        <a class="nav-link" href="/pages/services">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pages/work">Work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pages/pricing">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pages/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pages/contact">Contact</a>
      </li>
    </ul>
  </nav>

  <!-- Booking button -->
  <a class="nav-link button primary-button" href="/pages/booking"
    >Book a call</a
  >
</div>
